.computer {
    width: 100%;
    z-index: 1;
}

.laptop-div {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.laptop {
    width: 100%;
    max-width: 1500px;
    position: relative;
}

.inside-img {
    position: absolute;
    width: 48.5%;
    height: 37.5%;
    top: 19.6%;
    left: 26%;
    padding-top: 9%;
    border-radius: 10px;
}