.computer {
    width: 100%;
    z-index: 1;
}

.laptop-div {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.laptop {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.inside-img {
    position: absolute;
    width: 48.5%;
    height: 37.5%;
    top: 19.6%;
    left: 26%;
    padding-top: 9%;
    border-radius: 10px;
}

/* The device with borders */

.smartphone {
    position: relative;
    width: 360px;
    height: 450px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

/* The horizontal line on the top of the device */

.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */

.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */

.smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
}

.phone-img {
    width: 100%;
    border: none;
    height: 100%;
}