@media only screen and (max-width: 767px) {
    .letter-container {
        height: 30px;
        padding: 5px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    #letter-img {
        width: 95%;
    }
    #resume-page {
        background-color: var(--bg-color);
    }
    #resume-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    #resume-body {
        display: none;
    }
    #letter-body {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #resume-obj, #letter-obj {
        width: 80vw;
        height: 100vh;
    }
    .letter-container {
        height: 30px;
        padding: 5px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    #resume-page {
        background-color: var(--bg-color);
    }
    #resume-img {
        display: none;
    }
    #letter-img {
        display: none;
    }
}