.logos img {
    width: 18vmin;
    padding: 0px 6px;
    border-radius: 8%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.projects-container {
    background-color: rgba(50, 174, 212, 0.678);
    text-align: center;
    /* clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%); */
    border: none;
}

#project {
    clip-path: polygon(0 0%, 100% 4%, 100% 95%, 0% 100%);
    /* padding-top: 20px; */
}

.project-imgs {
    margin-top: 60px;
}

.descriptions {

}

.paper-desc {
    width: 80%;
    margin-bottom: 20px;
}

hr {
    height: 10px;
    background-color: rgb(46, 45, 45);
    margin-bottom: 30px;
}

.left {
    transform: rotate(2deg); 
}

.right {
    transform: rotate(-2deg)
}

.paper-img {
    /* width: 80%; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper-logos {
    /* width: 80%; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-sec {
    height: 60px;
    background-color: rgba(50, 174, 212, 0.678);
}

body {
    background-color: rgba(50, 174, 212, 0.678);

}