#project {
    clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);
}

.left {
    transform: rotate(2deg);
}

.right {
    transform: rotate(-2deg)
}

div.carousel {
    width: 120vmin;
    text-align: center;
    margin: auto;
}

button.control-arrow {
    width: 60px;
    color: orange;
}

div.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vmin;
}

img.logo {
    width: 20vmin;
    padding: 2vmin;
}

#title {
    margin-bottom: 7px;
    margin-top: 7px;
}
