:root {
  --nav-color: #65c7f5f1;
  --nav-color-1: #0b0c10;
  --text-color-1: #e7e6e6;
  --text-color-2: #b0faff;
  --text-color-3: #5382c9;
}

.App {
  text-align: center;
}

.text-font {
  font-family: 'Istok Web', sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.title-font {
  font-family: 'Bungee Shade', cursive;
}

.title-font-2 {
  font-family: 'Londrina Outline', cursive;
  text-decoration: none;
}

.title-font-3 {
  font-family: 'Saira Stencil One', cursive;
}

.title-font-4 {
  font-family: 'Orbitron', sans-serif;
}