:root {
  --nav-color: #2d5061f1;
  --nav-color-1: #3a3f3d;
  --text-color-1: white;
  --text-color-2: #b0faff;
  --text-color-3: #2c2c2cce;
  --bg-color: rgba(255, 255, 255, 0.473);
  --title-font-4: #626362;
}

#App {
  margin: 0;
}


.text-font {
  font-family: 'Istok Web', sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.title-font {
  font-family: 'Bungee Shade', cursive;
  font-size: 6vmin;
}

.title-font-2 {
  font-family: 'Londrina Outline', cursive;
  text-decoration: none;
  font-weight: 700;
}

.title-font-3 {
  font-family: 'Saira Stencil One', cursive;
}

.title-font-4 {
  font-family: 'Orbitron', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
